@import 'common';

.item-list-container {
  background: white;
  margin: 20px;
  min-height: 840px;
  border-left: $custom-border;
  border-top: $custom-border;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  grid-auto-rows: minmax(370px, auto);

  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  .item-box {
    padding: 10%;
    border-right: $custom-border;
    border-bottom: $custom-border;
    height: 100%;

    &:hover {
      background: rgb(245, 245, 245);
    }

    .item-img > img {
      position: relative;
      width: 100%;
      height: 230px;
    }

    .item-content {
      padding: 5% 5%;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      p {
        margin-top: 3px;
        margin-bottom: 0;
      }

      p.brand-name, p.price {
        font-weight: bold;
      }

      p.price::after{
        content: "원";
      }
    }
  }
}